.background {
  background-image: url("../src/assets/hero_1.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
/* In your CSS file or inside a <style> tag */

.background2 {
  background-image: url("../src/assets/hero_5.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
}

.background3 {
  background-image: url("../src/assets/hero_2.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
}


.background4 {
  background-image: url("../src/assets/hero_3.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
}

.background5 {
  background-image: url("../src/assets/hero_2.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
}


.background6 {
  background-image: url("../src/assets/img_3.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
}
