.background {
  background-image: url("../src/assets/hero_1.jpg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
/* In your CSS file or inside a <style> tag */
